root = true

# All files
[*]
indent_style = space

# Code files
[*.{cs,csx,json}]
indent_size = 4
insert_final_newline = true
charset = utf-8-bom

[*.csproj]
indent_size = 2

[*.cs]
dotnet_sort_system_directives_first=true
dotnet_style_predefined_type_for_member_access = false:error
csharp_space_after_cast=true
csharp_style_namespace_declarations=file_scoped:silent

# CS0252: Possible unintended reference comparison; left hand side needs cast
dotnet_diagnostic.CS0252.severity = error

# CS0253: Possible unintended reference comparison; right hand side needs cast
dotnet_diagnostic.CS0253.severity = error

# CA1825: Avoid zero-length array allocations
dotnet_diagnostic.CA1825.severity = none

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = none

# IL3000: 'System.Reflection.Assembly.Location' always returns an empty string for assemblies embedded in a single-file app
dotnet_diagnostic.IL3000.severity = error
